* {
    box-sizing: border-box;
    font-family: "Trebuche MS", Tahoma, Verdana, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    color: darkslategray;
    border: 1px solid darkslategray;
}

div.container-box {
    background-color: #ccc;
    margin: 0 10px; /* 10px left/right margins */
    position: relative;
    padding: 20px; /* Optional padding inside the box */
    /* width: calc(100% - 20px) */
}

.label-box {
    border: 1px solid black;
    padding: 10px;
    position: absolute; /* Position the label-box relative to the container-box */
    top: 0px; /* Distance from top edge of container-box */
    right: 10px: /* Distance from right edge of container-box */
}

p {
    width: 200px;
    height: 50px;
    border: 2px solid black;
}

#chicken {
    background-color: lightblue;
}

#beef {
    background-color: indianred;
}
